MILVUS_IMAGE=milvusdb/milvus:v3.0.0
MILVUS_ETCD_IMAGE=quay.io/coreos/etcd:v3.5.25
MILVUS_MINIO_IMAGE=minio/minio:RELEASE.2024-12-18T13-15-44Z
MILVUS_HOST_PORT=19530
MILVUS_WEBUI_HOST_PORT=9091
MILVUS_MINIO_USER=minioadmin
MILVUS_MINIO_PASSWORD=minioadmin
